@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

Hello. Welcome to the Discovery API.

<h5>Data</h5>
<div class="row">
    <a class="btn btn-primary" target="_blank" href="@Url.Action("GetPlayers", new { controller = "Online", area = "api", key = "dev" })">Get Online Players</a>
    <a class="btn btn-primary" target="_blank" href="@Url.Action("GetFactionSummary", new { controller = "Online", area = "api", key = "dev" })">Get Faction Summary</a>
</div>
<form id="factionsummary">
    Faction tag: <input type="text" id="tag" />
    <button type="submit">Get Faction Details</button>
</form>
<script lang="text/javascript">
document.getElementById("factionsummary").onsubmit = function () {
    var url = "@Url.Action("GetFactionDetails", new { controller = "Online", area = "api", key = "dev", tag = "TOREPLACE" })";
    document.location.href = url.replace('TOREPLACE', this.children.tag.value);
    return false;
}
</script>

<h5>Admin</h5>
<div class="row">
    <a class="btn btn-primary" target="_blank" href="@Url.Action("UpdateData", new { controller = "Update", area = "api", key = "dev" })">Update data</a>
    <a class="btn btn-primary" target="_blank" href="@Url.Action("GetCache", new { controller = "Admin", key = "dev" })">Check Cache</a>
</div>

<h5>Maintenance</h5>
<div class="row">
    <a class="btn btn-primary" target="_blank" href="@Url.Action("FixConnData", new { controller = "Maintenance", key = "dev" })">Fix Conn Data</a>
    <a class="btn btn-primary" target="_blank" href="@Url.Action("CollateConnData", new { controller = "Maintenance", key = "dev" })">Collate Conn Data</a>
    <a class="btn btn-primary" target="_blank" href="@Url.Action("GenerateFactionHistory", new { controller = "Maintenance", key = "dev", length = 12 })">Generate Faction History</a>
</div>