@using DiscoveryApi.Models
@model CacheDisplayModel
@{
    ViewData["Title"] = "GetCache";
}

<div class="row text-center">
    <div class="col-md-12"><h2>Cache Status</h2></div>
    <div class="col-md-12"><b>Last Data Update: </b>@Model.LastUpdate.ToString()</div>
    <div class="col-md-12"><b>Retry: </b>@Model.RetryCount.ToString()/@Model.RetryMax.ToString()</div>
</div>
<br />
<div class="card">
    <div class="card-block">
        <h4 class="card-title">Players Online</h4>
        <h6 class="card-subtitle mb-2 text-muted">@Model.LastPlayerOnlineCache.ToString()</h6>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#PlayerOnlineCache" aria-expanded="false" aria-controls="PlayerOnlineCache">Toggle</button>
        <div id="PlayerOnlineCache" class="card-block collapse"><pre>@Model.PlayerOnlineCache</pre></div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-block">
        <h4 class="card-title">Faction Global Activity Cache</h4>
        <h6 class="card-subtitle mb-2 text-muted">@Model.LastFactionGlobalActivityCache.ToString()</h6>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#FactionGlobalCache" aria-expanded="false" aria-controls="FactionGlobalCache">Toggle</button>
        <div id="FactionGlobalCache" class="card-block collapse"><pre>@Model.FactionGlobalActivityCache</pre></div>
    </div>
</div>
<!-- TODO -->
